*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.recipe {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.recipe img {
    max-width: 200px;
}

.ingredients {
    list-style-type: none;
    padding: 0;
}

.ingredients li {
    background: #f0f0f0;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}